section.members .container .wrapper {
  width: 100%;
  height: fit-content;
  background: white;
  font-family: monospace;
  padding: 15px 10px;
  border-radius: 10px;
}

section.members .container .wrapper .card {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0;
}

section.members .container .wrapper .card .photo {
  width: 70px;
  height: 60px;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.3) 2px 2px 3px;
  border: 2px solid rgba(255, 255, 255);
}

section.members .container .wrapper .card .photo:hover {
  transform: scale(1.2);
  filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.3));
}

section.members .container .wrapper .card .info {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding-left: 10px;
  align-items: flex-start;
}

section.members .container .wrapper .card .info .name {
  font-family: "Poppins", sans-serif;
  color: seagreen;
  font-size: 13px;
  align-items: flex-start;
}

section.members .container .wrapper .card .info .designation {
  color: gray;
  font-size: 15px;
  text-align: center;
}

section.members .container .wrapper .card button {
  display: flex;
  align-items: center;
  background-color: transparent;
  font-size: 18px;
  border-radius: 50%;
  border: none;
}
section.members .container .wrapper .card button .plus {
  color: seagreen;
}

section.members .container .wrapper .card button .minus {
  color: tomato;
}

section.members .container .wrapper .detail {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 10px 5px;
  border-top: 1px solid gray;
}

section.members .container .wrapper .detail div {
  font-family: sans-serif;
  color: black;
}
