section.mainFooter {
  background: #0f2226;
}

section.mainFooter .copyright {
  font-family: monospace;
  color: rgba(255, 255, 255, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  letter-spacing: 1px;
  padding: min(20px, 2vh) 0;
  user-select: none;
}

@media screen and (max-width: 800px) {
  section.mainFooter .copyright {
    align-items: flex-end;
    font-size: 12px;
    gap: 0;
    letter-spacing: 0px;
  }
}
